<div
  class="c-docs-navigation__mobile-container {{if mobileTrigger.mobileNavExpanded null 'visible-md visible-lg'}}"
>
  {{lf-select
    label="Version"
    property=version
    name="version"
    labelPath="label"
    valuePath="value"
    content=versions
    on-update=(action "versionChanged")
  }}

  {{#each pages as |p|}}
    <h3 class="c-docs-navigation__title">{{p.title}}</h3>
    <ol class="c-docs-navigation">
      {{#each p.subpages as |subpage|}}
        {{#link-to (concat "docs." version "." subpage.route) tagName="li"}}
          <a href="#">{{subpage.title}}</a>
        {{/link-to}}
      {{/each}}
    </ol>
  {{/each}}
</div>
<div class="c-docs-navigation__mobile-trigger-container">
  <a
    class="c-docs-navigation__mobile-trigger"
    href="#"
    {{action "toggleMobileNav"}}
  >
    <div>
      <i class="push--right fa fa-angle-{{if mobileTrigger.mobileNavExpanded 'up' 'down'}}"></i>
      {{if mobileTrigger.mobileNavExpanded 'Hide' 'Show'}} navigation
      <i class="push--left fa fa-angle-{{if mobileTrigger.mobileNavExpanded 'up' 'down'}}"></i>
    </div>
  </a>
</div>
