{{#if title}}
  <div class="c-code-sample">
    <div class="c-code-sample__title">{{title}}</div>
    <pre class="no-push {{lang}}">{{yield}}</pre>
  </div>
{{else}}
    <pre class="{{lang}}">{{yield}}</pre>
{{/if}}
